<html>
<head>
	<title>Classes</title>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/addclasses.css" rel="stylesheet">
	<link href="css/comparator.css" rel="stylesheet">

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/addclasses.js"></script>
</head>

<body>
<div class="container comparator-page">
	<a class="backButton" onclick="goBack()">Go back</a>
	<h1>Classes</h1>



	

</div>


<div class="search-container">
		<form class="search-form" role="search" method="get"">
			<input type="text" placeholder="Enter course" id="search-input">
				<button class="but searchbut" type="button" id="searchnameprof">Search</button>

		</form>

		<div class="profiles-container">
</body>

</html>