<html>
<head>
	<title>Comparator</title>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/comparator.css" rel="stylesheet">

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/comparator.js"></script>
</head>

<body>
<div class="container comparator-page">
	<a class="backButton" onclick="goBack()">Go back</a>
	<h1>Comparator</h1>
	<h2> Select a course: </h2>
	<select id = "courseoptions" >

       {{#each classes.coursenumber}}

  	<option value="a">a</option>
       	{{/each}}
	</select>
	
</div>
</body>

</html>