<html>
<head>
	<title>Comparator</title>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/comparator.css" rel="stylesheet">

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/comparator.js"></script>
	<!-- Google Analytics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-134936315-2', 'auto');
	ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->
</head>

<body>
<div class="container comparator-page">
	<a class="backButton" onclick="goBack()">Go back</a>
	<h1>Comparator</h1>
	

	<div class= "professor-windows">

		<prof> Professor 1 </prof>
		<prof> Professor 2 </prof>
	</div>

	<div class="navbar">
  		<a href="Home">Home</a>
  		<a href="courseprofinfo">Course Info</a>
  		<a href="Comparator" class="active">Comparator</a>
  		<a href="workloadcalc">Workload</a>
	</div>
	
	<h2> Select a course: </h2>
	<select id = "courseoptions" >

      {{#each Instructor}}

      
  	<option value={{course}}>{{course}}</option>

        {{/each}}
  	
  	
	</select>
	<button type="button" onclick="continueCourse()">Find Course Professors >> </button>

    <script>
    	function continueCourse() {
    		document.getElementById("")
    	}

    </script>
  	

</div>


</body>

</html>