<html>
<head>
	<title>Comparator</title>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/comparator.css" rel="stylesheet">

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/comparator.js"></script>
</head>

<body>
<div class="container comparator-page">
	<a class="backButton" onclick="goBack()">Go back</a>
	<h1>Comparator</h1>

	<div class= "professor-windows">
		<prof> Professor 1 </prof>
		<prof> Professor 2 </prof>
	</div>

	<div class="navbar">
  		<a href="Home">Home</a>
  		<a href="courseprofinfo">Course Info</a>
  		<a href="Comparator" class="active">Comparator</a>
  		<a href="workloadcalc">Workload</a>
	</div>
</div>
</body>

</html>