<html>
<head>

  <!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='190645090-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
>>>>>>> b8d6b35c055c150d78b1c94bb464f38622d79183

	<title>Comparator</title>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/comparator.css" rel="stylesheet">

	<script src="js/jquery-1.11.0.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/comparator.js"></script>


 <script>
  $( function() {
    var requiredtags = require("../data/cleandata")
    var availableTags = requiredtags.Instructors
      
    
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );

</script>
	<!-- Google Analytics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-134936315-2', 'auto');
	ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->
</head>

<body>
<div class="container comparator-page" id = "allbody">
	<a class="backButton" onclick="goBack()">Go back</a>
	<h1>Comparator</h1>
	



	<div class="navbar">
  		<a href="Home">Home</a>
  		<a href="courseprofinfo">Course Info</a>
  		<a href="Comparator" class="active">Comparator</a>
  		<a href="workloadcalc">Workload</a>
	</div>
	


</select>
  </div>

        
  	
  	
	</select>



</div>
  <div class="ui-widget">
  <label for="tags"> Professor 1: </label>
  <input id="tags">
  <label for="tags2"> Professor 2: </label>
  <input id="tags2"> 
</div>
 <button class="but" onclick="displayProf()" type="button" id="lnameprof"> Compare Professors
	 </button>
<table id="displayproftable" style="display:none">
  <tr>
  </tr>
  <tr>
  	<td>Professor # </td>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Average GPA</td>
    <td>Hours spent per week</td>
    <td>% of students that recommend</td>
  </tr>
  <tr>
  	<td> Professor 1 </td>
    <td>Instructor1.firstname</td>
    <td>Instructor1.lastname</td>
    <td>Instructor1.GPA</td>
    <td>Instructor1.Hoursperweek</td>
    <td> 98% recommend </td>
  </tr>
  <tr>
  	<td> Professor 2</td>
  <td>Instructor2.firstname</td>
    <td>Instructor2.lastname</td>
    <td>Instructor2.GPA</td>
    <td>Instructor2.Hoursperweek</td>
    <td> 88% recommend </td>
  </tr>
</table>



<prof id="prof1"></prof>
<prof id="prof2"></prof>

<script>
	function displayProf(){
		document.getElementById("displayproftable").style.display="block";

	}

</script>
</body>

</html>