<html>
<head>
	<title>Comparator</title>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/comparator.css" rel="stylesheet">

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/comparator.js"></script>
</head>

<body>
<div class="container comparator-page">
	<a class="backButton" onclick="goBack()">Go back</a>
	<h1>Comparator</h1>

	<div class= "professor-windows">
		<table style="width: 100%">
			<tr>
				<th></th>
				<th>Professor 1</th>
				<th>Professor 2</th>
			</tr>
			<tr>
				<td>Avg grade</td>
				<td>A-</td>
				<td>B-</td>
			</tr>
			<tr>
				<td>% Rec</td>
				<td>88%</td>
				<td>94%</td>
			</tr>
			<tr>
				<td># of Evals</td>
				<td>200</td>
				<td>150</td>
			</tr>
			<tr>
				<td>RMP Rating</td>
				<td>3.4</td>
				<td>4.1</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
</div>
</body>

</html>