<html>
<head>
	<title>Course and Professor Info</title>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/courseprofinfo.css" rel="stylesheet">

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/courseprofinfo.js"></script>
</head>

<body>
<div class="container">
	<a class="backButton" onclick="goBack()">Go back</a>
	<h1>Course and Professor Info</h1>

	<div class="search-container">
		<form class="search-form" role="search" method="get" onsubmit="getUserSearchInput()">
			<input type="text" placeholder="Enter course" id="search-input">
		</form>

		<div class="profiles-container">
		<div class="row">
			<div class="column">
				<img src="https://i2.wp.com/crimsonems.org/wp-content/uploads/2017/10/profile-placeholder.gif?fit=250%2C250&ssl=1">
				<h2 class="professor-title">Professor</h2>
				<img src="https://i2.wp.com/crimsonems.org/wp-content/uploads/2017/10/profile-placeholder.gif?fit=250%2C250&ssl=1">
				<h2 class="professor-title">Professor</h2>
			</div>
			<div class="column">
				<img src="https://i2.wp.com/crimsonems.org/wp-content/uploads/2017/10/profile-placeholder.gif?fit=250%2C250&ssl=1">
				<h2 class="professor-title">Professor</h2>
				<img src="https://i2.wp.com/crimsonems.org/wp-content/uploads/2017/10/profile-placeholder.gif?fit=250%2C250&ssl=1">
				<h2 class="professor-title">Professor</h2>
			</div>
		</div>
		</div>
	</div>


</div>
</body>

</html>