<html>
<head>
	<title>Studium</title>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/studium.css" rel="stylesheet">

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
</head>

<body>
<div class="container home-page">
	<h1>Studium</h1>

	<div class="home-menu">
		<a href="/courseprofinfo">Professor and Course Information</a>
		<a href="/comparator">Comparator</a>
		<a href="/workloadcalc">Workload Calculator</a>
	</div>
	<div class ="professor">


	</div>





</div>
</body>

</html>

