<html>
<head>
	<title>Studium Login</title>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/studium.css" rel="stylesheet">

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	{{> facebook}}
	<script src="/js/facebook.js"></script>
	
	
</head>

<body>
<div class="container home-page">
	<h1>Studium Login</h1>
	<div class="log-form">
  	<h2 class = "facebookLogin">Please login to your account through Facebook
  		<fb:login-button id="fb-button" scope="public_profile,email" onlogin="checkLoginState();">
		</fb:login-button>
	</h2>
  		<form id="login">
    		<div id="login-entries">
	    		<input id="username" type="text" title="username" placeholder="username" />
	   			<input id="password" type="password" title="username" placeholder="password" />
	   		</div>
   			<a class ="login-button" href="/home" > Login</a>
			<a class="login-button" href="">Forgot Username</a>
  		</form>
	</div>




</div>
</body>

</html>
