<html>
<head>
	<title>Remove Classes</title>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/removeclasses.css" rel="stylesheet">
	<link href="css/comparator.css" rel="stylesheet">

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/removeclasses.js"></script>

	<!-- Google Analytics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-134936315-2', 'auto');
	ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->
</head>

<body>
<div class="container comparator-page">
	<a class="backButton" onclick="goBack()">Go back</a>
	<h1>Classes</h1>

	{{#each classes}}
		<div class="classes-container">
			<h2><strong>{{courseid}}</strong></h2>
			<h2>{{coursenumber}}</h2>
		</div>
	{{/each}}
</div>
</body>

</html>