<html>
<head>
	<title>Workload Calculator</title>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/workloadcalc.css" rel="stylesheet">

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/workloadcalc.js"></script>

	
</head>

<body>
<div class="container workloadcalc-page">
	<a class="backButton" onclick="goBack()">Go back</a>
	<h1>Workload Calculator</h1>
	
	<div class="coursebox">
		<h2>Your courses</h2>
	</div>
	<div class="classlist">
		<ul> 
			<li>COGS 1</li>
			<li>COGS 120</li> 
			<li>CSE 170</li>
		</ul>	
		
		<div class="changeclasses">
			<a href="/addclasses" class="but searchbut" onclick="renderData()" type="button" id="searchnameprof">Add Classes<a>

			<a href="#" class="but2 removeclass" onclick="renderData()" type="button" id="searchnameprof">Remove Classes<a>

			
		</div>
	</div>

	<div class="totalhourscalc">
		<p>Total Hours: 0</p>
	</div>

	<div class="navbar">
  		<a href="Home">Home</a>
  		<a href="courseprofinfo">Course Info</a>
  		<a href="Comparator">Comparator</a>
  		<a href="workloadcalc" class="active">Workload</a>
	</div>
</div>
</body>

</html>