body {
}

.backButton {
   background-color: black;
   color: white;
   font-size: 4vw;
   padding: 4vw;
}

h1 {
	font-size: 10em;
	margin-top: 10%;
	color: black;
}

.professor-windows {
   margin-top: 7vw;
}

.professor-windows table, tr, td, th {
   border: 1px solid black;
}

.professor-windows td, th {
   font-size: 5vw;
   padding: 2vw;
}

